


#table_style_prime {
    font-size: 14px;
    overflow: auto;
    color:#343c6a;
  
    border-radius: 14px;
    border: 1px solid #e5e9f2 !important;
  
    th {
      border-bottom: 1px solid #e5e9f2 !important;
      background: #f9fafb;
      text-transform: capitalize;
      border-radius: 0;
      border: none;
      padding: 15px;
      text-transform: uppercase;
      margin-right: 20px;
      white-space: nowrap;
      font-weight: 550;
    }
  
    td {
      color: #344054;
      padding: 15px;
    }
  
    tr {
      transition: background-color 0.3s ease-in-out;
      background: #fff;
      pointer-events: none;
  
      &:hover {
        background: #fbfdff;
      }
  
      td {
        border-bottom: 1px solid #e5e9f2;
      }
  
      &:nth-child(even) {
        background: #fbfdff;
      }
  
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }